* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  
 
  
  color: #333;
}

.app {
  background-image: url('C:\Users\student\Desktop\Kulwant Tank\mern\draftweb\public\backg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #f4f4f9;
  color: white;
  width: 100% !important;
}

.hero-section {
  background-image: url('./images/SlideOne.jpg') ;
  background-size: cover;     /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 400px;
  
  padding:  20px;
}

.headline {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.subheadline {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.cta-button {
  padding: 15px 30px;
  font-size: 18px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Auto margin for horizontal centering */
  background-color: #FF5A5F;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.main-content {
  padding: 50px 20px;
}

.features {
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.feature-list {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.feature {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cta-section {
  text-align: center;
  margin-top: 50px;
}

.cta-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.footer {
  padding: 20px;
  background-color: #4A90E2;
  color: white;
  text-align: center;
}

.footer-menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
}

.footer-menu a {
  text-decoration: none;
  color: white;
}


/* WELCOME JS K COMPONENT HAI NEECHE */
/* Flexbox for aligning Quote Cards in a row */
.quote-card-container {
  display: flex;
  justify-content: space-around;  /* Space evenly between the cards */
  align-items: flex-start;        /* Align the cards to the top */
  gap: 20px;                      /* Adds space between cards */
  padding: 20px;
  flex-wrap: wrap;                /* Allows wrapping if the screen size is too small */
}

.quote-card {
  flex: 1;
  min-width: 250px;               /* Minimum size for responsiveness */
  max-width: 30%;                 /* Adjust the size to fit 3 cards in a row */
}
